**Loading Iris Data**

This code shows how to load data from an external source and display some information about it.

In [19]:
# get the iris data from a repository
from sklearn.datasets import load_iris
iris = load_iris()

This is an example of a data frame. It prints the csv file in a tabular format.

In [14]:
# make a data frame to
# display the data nicely
import pandas as pd
x = pd.DataFrame(data = iris.data, columns = iris.feature_names)
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Here, the code simply sums the data in the column "irisType".

In [21]:
y = pd.DataFrame(data = iris.target, columns = ["irisType"])
y.head()
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

This is another way to make a table with custom headers.

In [22]:
import pandas as pd
data=pd.DataFrame({
    'Sepal Length':iris.data[:,0],
    'Sepal Width':iris.data[:,1],
    'Petal Length':iris.data[:,2],
    'Petal Width':iris.data[:,3],
    'Species':iris.target
})
data.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0